<body onload="loadgame()">
	<div class="row" style="margin-top: 2em" data-equalizer>
		<div class="game">
			<div class="large-12 small-centered columns">
				<div class="panel">
					<div><span>Room: </span><h4 id="room-name"><%= session[:room] %></h4></div>
					<div><span>Your name: </span><h4 id="user-name"><%= session[:user] %></h4></div>
					<div><span>Who's turn is it now: <span><span id="turn"></span></div>
					<div><span>Current Score:</span><span id="score">0</span></div>
				</div>
			</div>

			<div class="large-6 columns" data-equalizer-watch>
				<div class="game-container">
					<div class="game-message">
						<p></p>
						<div class="lower">
							<a class="keep-playing-button">Keep going</a>
							<a class="retry-button">Try again</a>
							<a class="save-button">Save your score</a>

						</div>

					</div>
					<div class="grid-container">
						<div class="grid-row">
							<div class="grid-cell"></div>
							<div class="grid-cell"></div>
							<div class="grid-cell"></div>
							<div class="grid-cell"></div>
						</div>
						<div class="grid-row">
							<div class="grid-cell"></div>
							<div class="grid-cell"></div>
							<div class="grid-cell"></div>
							<div class="grid-cell"></div>
						</div>
						<div class="grid-row">
							<div class="grid-cell"></div>
							<div class="grid-cell"></div>
							<div class="grid-cell"></div>
							<div class="grid-cell"></div>
						</div>
						<div class="grid-row">
							<div class="grid-cell"></div>
							<div class="grid-cell"></div>
							<div class="grid-cell"></div>
							<div class="grid-cell"></div>
						</div>
					</div>

					<div class="tile-container" id="tile-container">

					</div>
				</div>

			</div>
			<div class="large-6 columns" style="margin-top: 16px" data-equalizer-watch>
				<div class="scores-container"></div>

					<textarea type="text" readonly="readonly" rows="25" id="chat-area"></textarea>
					<%= form_tag(sendchat_path,  method: "post", remote: true) do %>

					<div class="row collapse">
						<input name="room[user]" type="hidden" value="<%= session[:user] %>" />
						<input name="room[room]" type="hidden" value="<%= session[:room] %>" />
						<div class="small-10 columns">
							<input type="text" placeholder="Type your message here.." id="chat-input", name="room[message]" >
						</div>
						<div class="small-2 columns">
							<%= submit_tag("Send", class: "button postfix") %>
						</div>
					</div>
					<% end %>
			</div>
		</div>
	</div>
</body>