
<div class="row" style="margin-top: 8em" data-equalizer>
	<div class="large-12 columns">
		<%= render partial: 'layouts/messages' %>
	</div>

	<div class="large-6 columns">
		<div class="panel" data-equalizer-watch>
			<h4>Create a new room</h4>
			<%= form_tag(create_path,  method: "post") do %>
			<input type="text" placeholder="Room Name" name="room[room]"/>
			<label for="hostname">Your name:</label>
			<input type="text" id="hostname"  name="room[hostname]"/>
			<label for="gurstname">Guest name:</label>
			<input type="text" id="guestname"  name="room[guestname]"/>
			<%= submit_tag("CREATE", class: "button tiny") %>
			<% end %>
		</div>

	</div>

	<div class="large-6 columns">
			<div class="panel" data-equalizer-watch>
				<h4>Join a room</h4>
			<%= form_tag(game_path,  method: "post") do %>
			<input type="text" placeholder="Room Name" name="room[room]"/>
			<label for="hostname">Your name:</label>
			<input type="text" id="hostname"  name="room[name]"/>
			<%= submit_tag("JOIN", class: "button tiny") %>
			<% end %>
		</div>
	</div>

	<div class="large-12 columns">
		<div class="panel">
			<h4>This version of the game</h4>
			<p>
				This is a 2 player version of 2048. Players take turn to play.</br>
			</p>
		</div>
	</div>
</div>

<!-- temp workaround! foundation's bug does not let it be included in application.js -->
<script>
	$(document).foundation();
</script>
